<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\DatingWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="614572800" /></requestFiltering>
  </security>
</configuration>
<!--ProjectGuid: 53F7ED08-C83F-4669-9E05-1AD4208BBEA5-->